<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Online Cable Tv</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content="Music Buzz Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
    
        <!-- Bootstrap Core CSS -->
        <link href="static/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
        <link href="static/css/style.css" rel='stylesheet' type='text/css' />
        <!-- font-awesome icons -->
        <link href="static/css/fontawesome-all.min.css" rel="stylesheet">
        <!-- //Custom Theme files -->
        <!--webfonts-->
        <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <!--//webfonts-->
    </head>
    
    <body>
        <!-- header -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="admin_home">
                     Online Cable Tv
                    </a>
                    <button class="navbar-toggler ml-lg-auto ml-sm-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="social-iconsv2 agileinfo ml-lg-5 mx-auto text-center">
                       
                    </ul>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav text-center ml-auto">
                            <!-- <li class="nav-item  mr-3">
                                <a class="nav-link scroll" href="musician_view">Musicians
                                    
                                </a>
                            </li>
                            <li class="nav-item  mr-3">
                                <a class="nav-link scroll" href="employer_view">Employers</a>
                            </li> -->
                            <li class="nav-item dropdown mr-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                    <a class="dropdown-item scroll" href="type"> type</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item scroll" href="genre">Packages</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown mr-3">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    View
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                    <a class="dropdown-item scroll" href="musician_view">Staff</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item scroll" href="employer_view">Customer</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item scroll" href="genre_view">Package</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item scroll" href="type_view"> Type</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="admin_viewapplication">Applications</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="login">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <style>
            #navbarDropdown:hover~.dropdown-menu,.dropdown-menu:hover{

                display: block !important;

            }
        </style>
        <!-- //header -->
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">home</a>
    <a href="login">Login</a>
    <a href="reg">Register</a> -->