{% include 'admin_header.html' %}
<body style="margin-bottom: 10%;">
<h1 align="center" style="margin: 50px;">View Application</h1>
<table border="2px" class="center">
    <tr>
        <th>Slno</th>
        <th>Job Tittle</th>
       
        <th> Musician Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    {% for i in data['updatejobs'] %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['job_title']}}</td>
        
        <td>{{i['msc_name']}}</td>
        <td>{{i['description']}}</td>
        <td>{{i['status']}}</td>
        {% if i['status'] == "Applyed" %}
        <td><a href="?action=accept&application_id={{i['application_id']}}"  class="btn btn-danger">Accept</a></td>
        {% else %}
        <td><a href="?action=reject&application_id={{i['application_id']}}"  class="btn btn-primary">Reject</a></td>

        {% endif %}

    </tr>
    {% endfor %}
</table>
</body>