{% include 'employer_header.html' %}
   <!-- <h1>Reg</h1>
    <form action="" method="POST">
    <table>
        <tr>
            <th>name</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>email</th>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <th>Phone number</th>
            <td><input type="text" name="phone_no"></td>
        </tr>
        <tr>
            <th>Aadhar number</th>
            <td><input type="text" name="aadhar_no"></td>
        </tr>
        
        <tr>
            <th>Password</th>
            <td><input type="password" name="password"></td>
        </tr>

        <tr>
            <th></th>
            <td><input type="radio" name="types" value="Musician">I'm a Musician
            <input type="radio" name="types" value="Employer">I'm an Employer</td>
        </tr>
        
        <tr>
            <td><input type="submit" value="submit" name="submit"></td>
        </tr>
    </table>
    </form>   -->


    <!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Registration</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="freelancer Sign Up Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
    <div id="block" class="w3lvide-content banner" >
        
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h1 class="text-uppercase">Update Profile</h1>
                        <form action="" method="POST">

                            {% if data['updateprofile']%}
                            <input type="text" class="text" value="{{data['updateprofile'][0]['emp_name']}}" name="name" placeholder="Name" required="">
                            <input type="text" class="text"  value="{{data['updateprofile'][0]['emp_email']}}" name="username" placeholder="Email address" required="">
                            <input type="text" class="text"  value="{{data['updateprofile'][0]['emp_no']}}" name="phone_no" placeholder="Phone number" required="">
                            <input type="text" class="text"  value="{{data['updateprofile'][0]['emp_aadhar']}}" name="aadhar_no" placeholder="Aadhar number" required="">
                           
                            
                          
                              
                            
                           <!-- <input type="radio" name="types" value="Musician">I'm a Musician
                            <input type="radio" name="types" value="Employer">I'm an Employer-->
                            <button class="btn" type="submit" name="submit">Submit</button>

                            {% endif %}
                        </form>


                       
                        
                </div>
           
     
        
    </div>
    <!-- //form section start -->
      <!-- js -->
  <script src="js/jquery.min.js"></script>
  <!-- //js -->
  <script src="js/jquery.vide.js"></script>
  <script>
    //    $(document).ready(function () {
    //        $("#block").vide("video/ocean"); // Non declarative initialization
    //
    //        var instance = $("#block").data("vide"); // Get instance
    //        var video = instance.getVideoObject(); // Get video object
    //        instance.destroy(); // Destroy instance
    //    });
  </script>
</body>

</html>
    
{% include 'footer.html' %}