{% include 'admin_header.html' %}
<html>
<body >
   {% if data['up'] %}
    <div id="block" class="w3lvide-content banner" >
        
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h1 class="text-uppercase">Update Package</h1>
                    <form action="" method="POST">
                        <input type="text" class="text" value="{{data['up'][0]['genre_name']}}" name="name">
                        
                        
                        
                       
                        <button class="btn" type="submit" name="update">Update</button>
                    </form>
                    
                    
                    
            </div>
       
 
    
</div>

{% else %}

<span>No dasts</span>
{% endif %}
</body>
</html>
