{% include 'admin_header.html' %}
<html>
<body>
    <div id="block" class="w3lvide-content banner" >
        
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h1 class="text-uppercase">Add Packages</h1>
                    <form action="" method="POST">
                        <input type="text" class="text" name="name" placeholder="Packages Name" required="">
                        
                        
                        
                       
                        <button class="btn" type="submit" name="submit">Submit</button>
                    </form>
                    
                    
                    
            </div>
       
 
    
</div>

</body>
</html>