{% include 'employer_header.html' %}
   

    <!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Registration</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="freelancer Sign Up Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>
    <div id="block" class="w3lvide-content banner" >
        
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h1 class="text-uppercase">Post A Job</h1>
                        <form action="" method="POST">
                            <input type="text" class="text" name="job_title" placeholder="Job Title" required="">
                            <input type="text" class="text" name="job_desc" placeholder="Job description" required="">
                            
                           
                            <button class="btn" type="submit" name="submit">Submit</button>
                        </form>
                        
                       
                        
                </div>
           
     
        
    </div>
    <!-- //form section start -->
      <!-- js -->
  <script src="js/jquery.min.js"></script>
  <!-- //js -->
  <script src="js/jquery.vide.js"></script>
  <script>
    //    $(document).ready(function () {
    //        $("#block").vide("video/ocean"); // Non declarative initialization
    //
    //        var instance = $("#block").data("vide"); // Get instance
    //        var video = instance.getVideoObject(); // Get video object
    //        instance.destroy(); // Destroy instance
    //    });
  </script>
</body>

</html>
    
{% include 'footer.html' %}